.about-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 2rem;
   text-align: center;
}

.avatar {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   object-fit: cover;
   box-shadow: var(--box-shadow);
   margin-bottom: 1rem;
}

.about-text h2 {
   font-size: 1.8rem;
   margin-bottom: 1rem;
}

.about-text p {
   font-size: 1rem;
   max-width: 600px;
   color: var(--text-color);
   margin-bottom: 1.5rem;
}

.about-buttons {
   margin-top: 2rem;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, auto);   
   gap: 1rem; 
   justify-items: center; 
   width: 100%;
   max-width: 450px; 
   margin-left: auto;
   margin-right: auto;
}

.about-buttons .btn {
   width: 100%; 
   padding: 0.6rem 1.2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.5rem;
   border-radius: 8px;
   text-decoration: none;
   transition: background 0.3s ease, transform 0.2s ease;
   text-align: center;
   /* min-width: 200px; */
}

.about-buttons .btn:hover {
   transform: translateY(-2px);
}

.about-buttons .btn.primary {
   background-color: var(--primary-color);
   color: white;
}

/* Mobile-first responsive tweak */
@media (max-width: 480px) {
   .about-buttons {
      max-width: 300px;
   }
}