/* Footer.css */

.footer {
   background-color: var(--bg-color);
   padding-top: 2rem;
   color: var(--text-color);
   text-align: center;
   position: relative;
   bottom: 0;
   width: 100%;
}

.footer-content p {
   margin: 0;
   font-size: 0.8rem;
   font-weight: 500;
   color: var(--label-color);
   /* Lighter color for footer text */
}

.social-icons {
   margin-top: 1rem;
}

.social-icons a {
   font-size: 1.2rem;
   margin: 0 1rem;
   color: var(--text-color);
   transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
   transform: scale(1.1);
   color: var(--accent-color);
}

.copyright {
   margin-top: 1.5rem;
   font-size: 0.6rem;
   color: var(--label-color);
}